* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
  scroll-behavior: smooth;
}

body {
  background-color: #07202e;
  height: 100vh;
  width: 100vw;
}

/* section da imagem e texto da capa */
.containerCapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Imagem da Capa */
.imageCapa {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
  box-shadow: 0 10px 10px black;
}

.imageCapa img {
  width: auto;
  height: 100%;
  object-fit: fill;
}

/* Titulo da Capa */
.tituloCapa {
  position: absolute;
  bottom: 50px;
}

.tituloCapa h2 {
  color: red;
  font-size: 60px;
  text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black,
    7px 6px 5px rgba(0,0,0,0.7);
}

/* section com o text, opções de genero e botão continue */
.containerPrincipal{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15rem;
  justify-content: space-evenly;
}

/* article Texto "Escolha seu genero" */
.gender-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texto "Escolha seu genero" */
.gender-text p {
  color: red;
}

/* article das opções de gênero */
.gender-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* opção genero feminino */
.female-option {
  padding: 10px;
  margin: 20px;
  background-color: pink;
  transition: transform 0.3s;
  height: 10rem;
  width: 10rem;
}

.female-option:hover {
  transform: scale(1.1);
}

/* opção genero masculino */
.male-option {
  padding: 10px;
  margin: 20px;
  background-color: blue;
  transition: transform 0.3s;
  height: 10rem;
  width: 10rem;
}

.male-option:hover {
  transform: scale(1.1);
}

/* article botão continue */
.container-btn-continue{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btt-continue {
  color: red;
  border: none;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 10px 20px;
  transition: transform 0.3s, background-color 0.3s;
}

.btt-continue:hover {
  transform: scale(1.1);
  background-color: lightgreen;
}

.active {
  border: 4px solid white;
}

/* Media queries para celular */

@media (max-width: 500px) {
  /* Reduzir o titulo para celulares menores*/
  .tituloCapa h2 {
    font-size: 2.5rem;
    color: pink;
  }
  
}