* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
  scroll-behavior: smooth;
}

body {
  background-color: #07202e;
  color: #f0f0f0; /* Cor de texto clara para contrastar com o fundo escuro */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: red; /* Cor vermelha para títulos */
  text-shadow: 
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black,
    7px 6px 5px rgba(0,0,0,0.7); /* Efeito de sombra */
}

strong, span {
  color: #ffa500; /* Laranja para destaque */
}

i {
  color: #00bfff; /* Azul para texto itálico */
}

.playerInfo {
  text-align: center;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

button.continue {
  color: #07202e;
  border: none;
  background-color: aquamarine;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  margin-top: 20px;
}

button.continue:hover {
  transform: scale(1.1);
  background-color: lightgreen;
}

button.continue:active {
  background-color: #ff4500; /* Cor de fundo quando pressionado */
}

/* Ajuste para a parte de 'gender' e 'class' */
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.system-text {
  color: red;
}

.gender-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.female, .male {
  padding: 10px;
  margin: 20px;
  transition: transform 0.3s;
  border-radius: 8px;
}

.female {
  background-color: pink;
}

.female:hover {
  transform: scale(1.1);
}

.male {
  background-color: blue;
}

.male:hover {
  transform: scale(1.1);
}

.female img, .male img {
  width: 50px;
  height: auto;
}